.typeContainer {
  display: flex;
  padding: 8px 12px;
  border-radius: 999px;
  gap: 5px;
  align-items: center;
  z-index: 2;
}

.typeText {
  font-size: 16px;
  color: var(--DarkGray);

  &::first-letter {
    text-transform: capitalize;
  }
}

.fire {
  background: var(--FireTag);
}

.bug {
  background: var(--BugTag);
}

.water {
  background: var(--WaterTag);
}

.flying {
  background: var(--FlyingTag);
}

.poison {
  background: var(--PoisonTag);
}

.normal {
  background: var(--NormalTag);
}

.rock {
  background: var(--RockTag);
}

.ground {
  background: var(--GroundTag);
}

.fighting {
  background: var(--FightingTag);
}

.ghost {
  background: var(--GhostTag);
}

.psychic {
  background: var(--PsychicTag);
}

.ice {
  background: var(--IceTag);
}

.dragon {
  background: var(--DragonTag);
}

.dark {
  background: var(--DarkTag);
}

.fairy {
  background: var(--FairyTag);
}

.electric {
  background: var(--ElectricTag);
}

.steel {
  background: var(--SteelTag);
}

.grass {
  background: var(--GrassTag);
}