html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --White: #FFFFFF;
  --White80: rgba(255, 255, 255, 0.8);
  --White16: rgba(255, 255, 255, 0.16);
  --White8: rgba(255, 255, 255, 0.08);
  --LightGray: #F5F7FB;
  --DarkGray: #212121;
  --DarkGray80: rgba(33, 33, 33, 0.8);
  --DarkGray60: rgba(33, 33, 33, 0.6);
  --DarkGray24: rgba(33, 33, 33, 0.24);
  --DarkGray16: rgba(33, 33, 33, 0.16);
  --DarkGray8: rgba(33, 33, 33, 0.08);
  --Blue: #C9D2EA;
  --DarkBlue: #416EDF;
  --DarkBlue60: rgba(65, 110, 223, 0.6);
  --Yellow: #FFCE31;
  --FireTag: linear-gradient(to bottom, #FF9A9A, #FF3232);
  --BugTag: linear-gradient(to bottom, #E4FFB5, #7EB800);
  --WaterTag: linear-gradient(to bottom, #B9F9FF, #007DA3);
  --FlyingTag: linear-gradient(to bottom, #CBE9FF, #2299EE);
  --PoisonTag: linear-gradient(to bottom, #F1D1FF, #B500FF);
  --NormalTag: linear-gradient(to bottom, #E3E3E3, #AFAFAF);
  --RockTag: linear-gradient(to bottom, #E6D99F, #9F8F22);
  --GroundTag: linear-gradient(to bottom, #FFD9A7, #854C00);
  --FightingTag: linear-gradient(to bottom, #FF9FC5, #FF0066);
  --GhostTag: linear-gradient(to bottom, #D6B9FF, #5B00FF);
  --PsychicTag: linear-gradient(to bottom, #FF9597, #FF0000);
  --IceTag: linear-gradient(to bottom, #D0FFF9, #00B5A4);
  --DragonTag: linear-gradient(to bottom, #A2D3FF, #004BA2);
  --DarkTag: linear-gradient(to bottom, #AAAAAA, #000000);
  --FairyTag: linear-gradient(to bottom, #FFC5F5, #FF00CC);
  --ElectricTag: linear-gradient(to bottom, #FFFFB5, #B7B100);
  --SteelTag: linear-gradient(to bottom, #C7FFE2, #00B5A2);
  --GrassTag: linear-gradient(to bottom, #A9FFAF, #00C200);
  --Fire: #EB6C6C;
  --Bug: #91AC22;
  --Water: #009ACB;
  --Flying: linear-gradient(to bottom, #CBE9FF, #2299EE);
  --Poison: #7E00CB;
  --Normal: #B6B6B6;
  --Rock: #857D57;
  --Ground: #A77437;
  --Fighting: #BA114E;
  --Ghost: #6B2BF1;
  --Psychic: #C4484A;
  --Ice: #3A9D90;
  --Dragon: #1268B8;
  --Dark: #373737;
  --Fairy: #C01A8D;
  --Electric: #B7B117;
  --Steel: #448F85;
  --Grass: #1EBA11;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--LightGray);
}

main {
  padding: 48px 64px;
}

.filterBlur {
  display: block;
  width: 75vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--DarkGray16);
}